.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Darken the button on hover */
  }
  carousel-control-prev:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Darken the button on hover */
  }